name: Sync to Hugging Face Hub

on:
  push:
    branches: [main]
  schedule:
    - cron: '0 22 * * *'
  workflow_dispatch:

jobs:
  sync-to-hub:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
          lfs: true

      - name: Push to Hugging Face Space
        env:
          HF_TOKEN: ${{ secrets.HF_TOKEN }}
        run: |
          git config --global user.email "actions@github.com"
          git config --global user.name "GitHub Actions Bot"
          
          # We construct the URL here inside the script so the token is read correctly
          git push --force https://agarwalaman:$HF_TOKEN@huggingface.co/spaces/agarwalaman/stock-prediction-live main